@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kaushan Script', cursive;
  background: linear-gradient(230deg, rgb(75, 207, 147), rgb(75, 121, 207), rgb(162, 75, 207)) 0% 0% / 300% 300%; 

  -webkit-animation: gradientAnimation 30s ease infinite;
  -moz-animation: gradientAnimation 30s ease infinite;
  animation: gradientAnimation 30s ease infinite;
}
@-webkit-keyframes gradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.header {
  display: grid;
  height: 60px;
  background-color: #333;
  color: #fff;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar ul li {
  display: inline-block;
  padding: 0 8px;
}

.init {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(228, 241, 254, 1);
  padding: 7em;
  border: 2px solid #333;
  border-radius: 50%;
  box-shadow: 0px 10px 10px RGBA(31,58,147, 0.3), inset 0px -10px 30px RGBA(31,58,147, 0.6);
  transform: translate(-50%, -50%);
}

.init-start {
  display: flex;
  flex-direction: column;
}
.init-start input[type='number'] {
  padding: 10px;
  border: 3px solid #333;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: .4em;
  margin-bottom: 1em;
}

#startButton {
  padding: .5em;
    outline: none;
    border-radius: .4em;
    border: 2px solid #1b3456;
    background-color: green;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}
.cage {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.numbers {
  display: block;
  align-self: center;
  text-align: center;
  margin-top: 25%;
}
.number {
  display: inline-block;
  font-size: 5em;
  width: 2em;
  height: 2em;
  line-height: 200%;
  margin: 0 0.2em;
  font-weight: bold;
  color: #333;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0px 10px 10px RGBA(0, 0, 0, 0.3), inset 0px -10px 30px RGBA(0, 0, 0, 0.6);
  animation: show-number 0.5s ease-out;
  animation-fill-mode: backwards;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px RGBA(0, 0, 0, 0.2);
}
.table-numbers {
  text-align: center;
  margin: 10px;
  background: #caa472;
  font-weight: bold;
  font-size: 24px;
  box-shadow: inset 5px -5px 15px rgba(0, 0, 0, .8), inset -5px 5px 5px rgba(0, 0, 0, .2), 0 0 10px black;
  color: #333;
  width: 64px;
  height: 64px;
  line-height: 64px;
  border-radius: 50%;
  border: 2px solid black;
  transform: scale(1.0);
  opacity: 1;
  transition: transform 1s linear, opacity 1s linear;
}

@keyframes show-number {
  from {
    opacity: 0;
    transform: translate(0, 50px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}
.machine-cage {
  width: 20em;
  height: 20em;
 /* border: 1px solid #444; */ 
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 10px 10px RGBA(0, 0, 0, 0.3), inset 0px -10px 30px RGBA(0, 0, 0, 0.6);
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

.spin {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  animation: spin 1.6s linear infinite;
  transition: top 1s linear;
}
@keyframes ball {
  50% {
    transform: rotate(var(--rot)) translateY(10em);
  }
}

.ball {
  --rot: 0deg;
  position: absolute;
  left: 10em;
  width: 1em;
  height: 1em;
  background: rgb(53, 53, 63);
  border-radius: 50%;
  transform-origin: 0 5em;
  transform: rotate(var(--rot));
  animation: ball 0.4s linear infinite;
}
.ball:nth-of-type(1) {
  background-color: #ce0074;
}
.ball:nth-of-type(2) {
  --rot: 10deg;
  animation-duration: 0.5s;
  background-color: #801515;
}
.ball:nth-of-type(3) {
  --rot: 20deg;
  animation-duration: 0.9s;
  background-color: #000;
}
.ball:nth-of-type(4) {
  --rot: 30deg;
  animation-duration: 0.6s;
  background-color: #261758;
}
.ball:nth-of-type(5) {
  --rot: 40deg;
  animation-duration: 0.8s;
  background-color: #f3cf21;
}
.ball:nth-of-type(6) {
  --rot: 50deg;
  animation-duration: 0.7s;
  background-color: #ff8500;
}
.ball:nth-of-type(7) {
  --rot: 60deg;
  animation-duration: 1s;
  background-color: #295b10;
}
.ball:nth-of-type(8) {
  --rot: 70deg;
  animation-duration: 0.9s;
  background-color: #009c9c;
}
.ball:nth-of-type(9) {
  --rot: 80deg;
  animation-duration: 0.5s;
  background-color: #0236ad;
}
.ball:nth-of-type(10) {
  --rot: 90deg;
  animation-duration: 0.7s;
  background-color: #caa472;
}
.ball:nth-of-type(11) {
  --rot: 100deg;
  animation-duration: 0.6s;
  background-color: #801515;
}
.ball:nth-of-type(12) {
  --rot: 110deg;
  animation-duration: 0.8s;
  background-color: #000;
}
.ball:nth-of-type(13) {
  --rot: 120deg;
  animation-duration: 0.4s;
  background-color: #261758;
}
.ball:nth-of-type(14) {
  --rot: 130deg;
  animation-duration: 0.5s;
  background-color: #f3cf21;
}
.ball:nth-of-type(15) {
  --rot: 140deg;
  animation-duration: 0.4s;
  background-color: #ff8500;
}
.ball:nth-of-type(16) {
  --rot: 150deg;
  animation-duration: 0.7s;
  background-color: #295b10;
}
.ball:nth-of-type(17) {
  --rot: 160deg;
  animation-duration: 0.8s;
  background-color: #009c9c;
}
.ball:nth-of-type(18) {
  --rot: 170deg;
  animation-duration: 0.9s;
  background-color: #0236ad;
}

.hidden {
  display: none;
}